.App {
  text-align: center;
background-color:rgb(243, 2, 231) ;
  font-family: Arial, sans-serif;}




.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

main {
  padding: 20px;
  background-color: #00ffbf;
  border-radius: 8px;
}